.home_action {
    border: 1px solid #000;
    border-radius: 10px;
    padding: 25px;
    transition: all .2s;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

.home_action i {
    font-size: 2rem;
}

.home_action h3 {
    margin-top: 10px;
}

.home_action:hover {
    background-color: green;
    color: #FFF;
}