:root {
    --light: #f2f2f2;
    --regularLight: rgba(000, 000, 000, .7);
    --nav_width: 258px;
}

html,
body {
    /* height: 100%; */
}

body {
    color: var(--regularLight);
    /* display: flex;
    height: 100vh; */
}

.body_content {
    /* overflow-y: scroll;
    height: 100%;
    flex-grow: 1;
    padding: 20px; */
}

.obligatoire {
    color: red;
}

.info {
    color: blue;
}

.gradient-custom {
    border-right: 1px solid grey;
}

thead th {
    font-weight: normal;
}

.highlightFirstRow {
    background-color: green;
}

#header {
    max-height: 500px !important;
}

#lesCheckbox {
    overflow-x: scroll;
}

table {
    overflow: scroll;
    text-align: center;
    border: 1px #000 !important;
    width: 100% !important;
}

table thead th {
    text-align: center !important;
}

table thead tr {
    background-color: rgb(25, 123, 25);
    color: #FFF;
}


#pagination a {
    color: black;
    padding: 8px 16px;
    transition: background-color .3s;
    border: 1px solid #ddd;
}

#pagination a:hover {
    background-color: #ddd;
}