nav {
    /* width: var(--nav_width); */
    height: 100%;
    position: fixed;
    top: 0;
    transition: 0.5s;
    background-color: green;
}

.nav_header i {
    font-size: 3rem;
    color: rgba(255, 255, 255, .8);
    border: 5px solid rgba(255, 255, 255, .8);
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}
.nav_header i:hover {
    color: #FFF;
}

.nav_header h3 {
    color: #FFF;
    letter-spacing: 2px;
}

nav a {
    text-decoration: none;
}

nav .link {
    display: inline-block;
    color: rgba(255, 255, 255, .6);
    cursor: pointer;
    font-size: 1.3rem;
    padding: 10px 0;
    transition: all .2s;
}

.logout {
    border: none;
    background-color: transparent;
}

.linkHover {
    color: #FFF !important;
    background-color: #383a3f !important;
    border-radius: 20px !important;
    padding: 10px !important;
}

nav .link:hover {
    color: #FFF;
    /* background-color: #383a3f; */
    border-radius: 20px;
    padding: 10px;
}

nav .content {
    margin-top: 20px;
}

nav .links {
    margin-top: 30px;
    list-style: none;
}

.submenu {
    display: block;
    color: rgba(255, 255, 255, .6);
    cursor: pointer;
    padding: 5px 0;
}
.submenu:hover {
    color: #FFF;
}

nav .footer {
    position: absolute;
    bottom: 0;
}